<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>주문 목록</title>
</head>
<body>
<header>
    <a href="/">HOME</a>
</header>
<h1>주문 목록</h1>

<ol>
    <li>피자</li>
    <li>치킨</li>
    <li>탕수육</li>
    <li>떡볶이</li>
    <li>짜장면</li>
    <li>김치찌개</li>
    <li>오므라이스</li>
</ol>

<div id="order-list">
    <table border="1">
        <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>OrderContentIndex</th>
            <th>삭제</th>
            <th>수정</th>
        </tr>
        <tr th:each="order : ${orders}">
            <td th:text="${order.id}"></td>
            <td th:text="${order.name}"></td>
            <td th:text="${order.orderContentIndex}"></td>
            <td th:utext="|<button type='button' onclick='deleteOrder(${order.id})'>삭제</button>|"></td>
            <td th:utext="|<button type='button' onclick='openUpdatePage(${order.id})'>수정</button>|"></td>
        </tr>
    </table>

</div>
<script>
function deleteOrder(id) {
  const xhr1 = new XMLHttpRequest();
  xhr1.open('DELETE', `/orders/${id}`);
  xhr1.send();
  window.open("orders");
}

function openUpdatePage(id){
 const xhr = new XMLHttpRequest();
 xhr.open('GET', `/orders/update-form?id=${id}`);
 xhr.send();
}
</script>
</body>
</html>